.hamburger {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}
.hamburger:hover {
	opacity: 0.7;
}
.hamburger.is-active:hover {
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #000;
}

.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: #fff;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
	content: '';
	display: block;
}
.hamburger-inner::before {
	top: -10px;
}
.hamburger-inner::after {
	bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
	transition-duration: 0.075s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
	transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
	transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
	transform: rotate(45deg);
	transition-delay: 0.12s;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
	top: 0;
	opacity: 0;
	transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
	bottom: 0;
	transform: rotate(-90deg);
	transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header {
	&__button::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 90%;
		left: 0;
		background-color: rgb(72 49 212);
		transition: top 0.3s;
		z-index: 1;
	}

	&__button:hover {
		border: 1px solid rgb(204 243 129);
	}

	&__button:hover::before {
		top: 0;
	}
	&__button:hover .arrow {
		transform: translateX(100px);
	}
	&__button:hover .txt {
		color: rgb(204 243 129);
		transform: translateX(15px);
	}
	&__button:hover .svg {
		visibility: visible;
		transform: translateX(-0.4em);
		z-index: 10;
	}
}

@keyframes bounce2 {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

.square {
	position: absolute;
	width: 100px;
	height: 100px;
	border: 1px solid rgba(0, 0, 0, 0.35);

	animation: rotation 20s infinite linear;
	z-index: 2;
}
.square-one {
	right: 8%;
	top: 17%;
}

.square-two {
	left: 10%;
	top: 50%;
	animation: rotation 20s infinite linear reverse;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section__heading {
	position: relative;
	margin-bottom: 2em;
	font-size: 1.6rem;
	font-weight: 300;
	text-align: center;
	color: $white;
	letter-spacing: 2px;
}

.section {
	padding: 6em 2em;
	background-color: $main-color;
}

.light-section{
	background-color: $main-color rgb(114, 95, 236);
}

.section__underline {
	position: absolute;
	text-align: left;
	width: 30%;
	border-bottom: 3px solid $black;
	transform: translateX(-50%);
}
