@media (min-width: 992px) {
	.header {
		&__img {
			width: 300px;
			height: 300px;
			right: 25%;
		}

		&__texts {
			top: 60%;
			left: 11em;
		}
		.grid {
			display: none;
		}
		.grid2 {
			display: block;
			top: 52%;
		}
	}
}
