@import './colors';
@import './components';
@import './mixins';
@import './min';
@import './mid';
@import './large';
@import './extralarge';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
	overflow-x: hidden;
}

.nav {
	position: relative;
	display: flex;
	z-index: 100;
	&__logo {
		position: absolute;
		top: 2em;
		left: 3em;
	}
	&__button {
		position: absolute;
		right: 2em;
		top: 2em;
		padding: 2em 2em;
		z-index: 10;
	}

	&__active {
		position: absolute;
		width: 100%;
		min-height: 40vh;
		top: -500px;
		background-color: $white;
		transition: top 0.3s;
		z-index: 1;
		&--list {
			list-style-type: none;
			margin-top: 10em;
			margin-left: 5em;
		}
		&--item {
			padding: 0.4em;
			font-size: 1.2rem;
			text-decoration: underline;
		}
	}
}

.menu {
	top: 0;
}

.header {
	position: relative;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	&__background {
		position: absolute;
		z-index: -100;
	}
	.purple {
		width: 100%;
		height: 100vh;
		background-color: $main-color;
	}

	&__img {
		position: absolute;
		width: 200px;
		height: 200px;
		background-image: url(../../dist/img/IMG_4614.mim.jpeg);
		background-size: cover;
		border: 4px solid $white;
		top: 20%;
		right: 15%;
	}
	&__img::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;

		border: 1px solid $black;
		transform: translate(8%, 8%);
		z-index: -1;
	}
	&__texts {
		position: relative;
		width: 70%;
		top: 50%;
		margin-left: 2em;
		padding: 2em;
		padding-bottom: 0;
	}

	&__heading {
		font-size: 3rem;
		color: $main-green;
		text-align: left;
	}
	&__text {
		position: absolute;
		width: 100%;
		font-size: 0.8rem;
		line-height: 150%;
		padding-top: 0.6em;
		padding-bottom: 0.6em;
		color: $white;
	}
	&__button {
		position: relative;
		display: flex;
		margin-top: 10em;
		padding: 0.6em;
		background-color: $white;
		border: 1px solid $main-color;
		border-radius: 5px;
		-webkit-box-shadow: 7px 7px 10px -7px rgba(66, 68, 90, 1);
		-moz-box-shadow: 7px 7px 10px -7px rgba(66, 68, 90, 1);
		box-shadow: 7px 7px 10px -7px rgba(66, 68, 90, 1);
		color: $main-color;
		overflow: hidden;
		transition: border 0.4s;
		cursor: pointer;

		.svg {
			transform: translateX(-100px);
			margin-left: 0.2em;
			visibility: hidden;
			transition: 0.4s;
		}

		.txt {
			margin-right: 0.2em;
			transition: 0.4s;
			z-index: 10;
		}
		.arrow {
			margin-left: 4px;
			color: $main-green;
			transition: transform 0.4s;
		}
	}

	.grid {
		display: none;
		position: absolute;
		right: 40%;
		top: 20%;
		transform: scale(4);
		z-index: -2;
	}
	.grid2 {
		top: 57%;
		right: 25%;
	}

	&__down {
		position: absolute;
		bottom: 0.8em;
		font-size: 2rem;
		left: 50%;
		transform: translateX(-50%);
		animation: bounce2 2s ease infinite;
		display: none;
	}

	&__socials {
		position: absolute;
		top: 47%;
		padding: 2em;
		font-size: 2rem;
		right: 5%;
		visibility: hidden;
		.socials-item {
			padding: 0.5em 0;
		}
		a {
			color: $white;
		}
	}
}

.aboutme {
	position: relative;
	width: 100%;

	transition: scroll 0.3s;

	&__desc {
		width: 100%;
		top: 20%;
		padding: 4em 1.4em;
		text-align: left;
		line-height: 170%;
		word-spacing: 4px;
		font-size: 1rem;
		color: $main-green;
		a {
			text-decoration: none;
			font-weight: bold;
			color: $link-color;
			word-spacing: normal;
		}
	}

	&__myAtuts {
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&__atutsBox {
		width: 100%;
		max-width: 600px;
	}

	&__textBox {
		width: 100%;
		padding-top: 5em;
		font-size: 1.2rem;
		text-transform: capitalize;
		color: $link-color;
		i {
			color: $white;
			font-size: 1.4rem;
			padding-right: 0.4em;
			padding-left: 0.4em;
		}
		.two,
		.four {
			text-align: right;
			margin-right: 0;
		}
	}
}

.skills {
	position: relative;

	&__box {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		padding: 2em;
	}

	&__skillBox {
		font-size: 2.6rem;
		padding: 1em;

		i {
			font-size: 4rem;
			color: $main-green;
			z-index: 1000;
		}
		p {
			font-size: 1.6rem;
			padding-top: 0.6em;
			color: $second-main-bgc;
			text-transform: uppercase;
		}
	}

	&__raiting {
		i {
			font-size: 1.2rem;
		}
	}
}

.projects {
	position: relative;
	background-color: $second-main-bgc;
	&__item {
		position: relative;
		margin: 4em auto;
		box-shadow: 10px 10px 10px rgba($color: #444, $alpha: 0.5);
		background-size: cover;
		padding: 10em 2em;
		background-position: center;
		overflow: hidden;
		z-index: 10;
		transition: transform 0.3s;

		h3 {
			font-size: 2rem;
			color: $main-green;
			z-index: 100;
		}

		&-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba($color: #000000, $alpha: 0.7);
			top: 0;
			left: 0;
			z-index: -1;
		}
	}

	.one {
		background-image: url(../../dist/img/todo-lists-5238324_640.mim.jpg);
	}

	&__item:hover {
		transform: translateY(-2%);
		cursor: pointer;
	}
}

.contact {
	position: relative;
	overflow: hidden;
	form {
		padding: 40px;
		font-size: 20px;
	}

	h1 {
		margin-bottom: 30px;
		text-align: center;
		color: $second-main-bgc;
	}

	.form-box {
		margin-bottom: 15px;
	}

	.form-box label {
		display: inline-block;
		margin-bottom: 5px;
	}

	.form-box input {
		width: 100%;
		padding: 10px;
		font-size: 16px;
		border: 1px solid rgb(197, 197, 197);
		border-radius: 5px;
	}

	.form-box textarea {
		min-width: 100%;
		max-width: 100%;
		min-height: 200px;
		max-height: 200px;
		padding: 1em;
	}

	.form-box.error input {
		border: 1px solid rgb(0, 137, 250);
		background-color: rgba(0, 137, 250, 0.1);
	}

	.form-box .error-text {
		margin: 5px 0 0 10px;
		font-size: 14px;
		color: rgb(0, 137, 250);
		visibility: hidden;
	}

	.form-box.error .error-text {
		visibility: visible;
	}

	.control-buttons {
		display: flex;
		justify-content: flex-end;
	}

	.send,
	.close {
		display: block;
		padding: 15px 0;
		margin-left: 10px;
		width: 100px;
		font-size: 18px;
		background-color: $main-green;
		color: $main-color;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		transition: 0.3s;
	}

	.send:hover {
		background-color: $second-main-bgc;
		color: $main-green;
	}

	.popup {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: absolute;
		left: 50%;
		bottom: -1500px;
		transform: translate(-50%, -50%);
		width: 600px;
		height: 200px;
		border: 2px solid #000;
		background-color: $second-main-bgc;
		border-radius: 8px;
		transition: top 0.5s;
		z-index: 10;
		
	}

	.popup p {
		font-size: 28px;
	}

	.popup .close {
		margin-top: 20px;
	}

	.show-popup {
		bottom: 150px;
	}
}

.footer {
	width: 100%;
	text-align: center;
	font-size: 1.2rem;
	padding: 2em;
	background-color: $second-main-bgc;
	&__info {
		color: $main-green;
	}
}

@media (min-width: 576px) {
	.header {
		.green {
			width: 35%;
			height: 100vh;
			right: 0;
			background-color: $second-main-bgc;
		}
		&__texts {
			max-width: 50%;
			left: 4em;
		}
		&__text {
			width: 70%;
		}

		&__button {
			top: 2em;
		}

		&__socials {
			visibility: visible;
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__img {
			right: 25%;
		}

		&__texts {
			top: 45%;
		}

		&__button {
			margin-top: 7em;
		}

		&__socials {
			display: flex;
			justify-content: space-between;
			width: 150px;
			top: 80%;
			left: 2.3em;

			padding: 0;
			a {
				color: $white;
			}
		}
	}

	.skills {
		&__box {
			display: flex;
			flex-direction: row;
			max-width: 1000px;

			p {
				font-size: 1.2rem;
			}
		}

		&__raiting {
			i {
				font-size: 0.5rem;
			}
		}
	}

	.projects {
		&__container {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
		&__item {
			margin: 3em;
			text-align: center;
		}
	}
}

@media (min-width: 992px) {
	.header {
		&__img {
			width: 250px;
			height: 250px;
			right: 20%;
		}

		&__texts {
			top: 50%;
			left: 9%;
		}
		.grid {
			display: none;
		}
		.grid2 {
			display: block;
			top: 52%;
			right: 20%;
		}

		&__socials {
			left: 12%;
		}
	}

	.skills {
		&__box {
			max-width: 1200px;

			p {
				font-size: 1.2rem;
			}
		}
		&__raiting {
			i {
				font-size: 1rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__img {
			right: 22%;
		}

		&__texts {
			top: 40%;
			left: 12%;
		}
		.grid {
			display: block;
			right: 37%;
		}
		.grid2 {
			display: block;
			right: 22%;
		}

		&__socials {
			top: 70%;
			left: 14%;
		}
	}
}

@media (min-width: 1400px) {
	.header {
		&__img {
			width: 300px;
			height: 300px;
			right: 28%;
		}

		.grid {
			display: block;
			right: 43%;
		}
		.grid2 {
			display: block;
			right: 28%;
		}
	}
}

@media (min-height: 900px) {
	.header {
		&__down {
			display: inline-block;
		}
	}
}
